.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding:0;
  min-height: 100vh;
  background-color: white;
  padding: 3em 5em;

}

.main::after {
  content: "";
  position: fixed;
  bottom: 0em;
  right: 0em;
  margin: 0;
  background-image: url('/indexbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70%;
  z-index: 100;
}

.main > h1 {
  position: fixed;
  top: 3em;
  left: 15em;
  word-wrap: normal;
  font-family: "futura", sans-serif ;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.2em;
  color: rgb(27, 27, 27);
  text-align: flex-start;
}

.main::-webkit-scrollbar {
  width: 0;
}

.link {
  position: fixed;
  top: 0;
  right: 0;
  font: 1em sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  padding: 1em 2em;
  border-radius: 0.5em;
  margin: 2em;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.426);
}

.link:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.infocontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.488);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: fit-content;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 1rem;
  padding: 1.5rem 2rem;
  animation: moveup 1s ease-in-out;
}

.cardContainer p {
  font-size: .8rem;
  word-wrap: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #000;
  text-align: center;
  margin: 0.5rem 0;
}

.cardContainer h1 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 0;
  color: #000;
}

.techimage {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

@keyframes moveup {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}






/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 820px) {
  .main::after {
    width: 80%;
    height: 40%;
    z-index: 100;
    bottom: 0em;
    right: 0em;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 201px) and (max-width: 1120px) {
  .main::after {
    width: 80%;
    height: 40%;
    z-index: 100;
    bottom: 0em;
    right: 0em;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
