.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.main::after {
    content: "";
    position: absolute;
    bottom: -8em;
    right: 0;
    margin: 0;
    background-image: url('/astronaut.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
    height: 50%;
    z-index: 1;
    animation: float 6s ease-in-out infinite;
  }

  #earth {
    border-radius: 50%;
    animation:  floatearth 80s ease-in-out infinite;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
  }
  
  .infocontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0);
    font: 4em sans-serif;
    animation: loading 3s ease-in-out;
    margin: 0%;
    padding: 0%;
  }

  @keyframes loading {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
    }
  }
  
  .arrows {
    cursor: pointer;
  }
  
  .arrows:hover {
    transform: scale(1.5);
  }

  .link {
    position: fixed;
    bottom: 0;
    left: 0;
    font: 1em sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 1em 2em;
    border-radius: 0.5em;
    margin: 2em;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.455);
  }
  
  .link:hover {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes floatearth {
    0% {
      transform: translatey(0px);
      rotate: 0deg;
    }
    50% {
      transform: translatey(-5px);
      rotate: 180deg;
    }
    100% {
      transform: translatey(0px);
      rotate: 360deg;
    }
  }

  
  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    .card:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }
  
    .card:hover span {
      transform: translateX(4px);
    }
  }
  
  @media (prefers-reduced-motion) {
    .thirteen::before {
      animation: none;
    }
  
    .card:hover span {
      transform: none;
    }
  }
  
 /* Tablet and Smaller Desktop */
  @media (max-width: 820px) {
   .main {
    padding: 6em 2em;
   }
  }
  
  
  /* Mobile */
  @media (min-width: 201px) and (max-width: 500px) {
    #earth {
      width: 80%;
      height: 80%;
    }

    .main::after {
      width: 50%;
      height: 50%;
      bottom: 3em;
      right: 2em;
    }

  }
  
  @media (prefers-color-scheme: dark) {
    .vercelLogo {
      filter: invert(1);
    }
  
    .logo,
    .thirteen img {
      filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  